@use 'variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-main;
  background-color: vars.$background;
  color: vars.$dark-grey;
  overflow-x: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.historical-dates {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: vars.$white;
  border-left: 1px solid rgba(vars.$light-grey, 0.5);
  border-right: 1px solid rgba(vars.$light-grey, 0.5);
  overflow: hidden;

  @media (max-width: vars.$breakpoint-mobile) {
    border: none;
  }
}
