$primary-color: #42567a;
$accent-color: #ff00ff;
$light-blue: #3877ee;
$dark-grey: #42567a;
$light-grey: #e3e6ed;
$background: #f4f5f9;
$white: #ffffff;

$font-main: 'PT Sans', sans-serif;
$font-secondary: 'Bebas Neue', cursive;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
